body {
    background-color: #BEE4F1;
}

.container {
    display: grid;
    height: 600px;
    width: 800px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 50px auto 50px;
    gap: 20px;
    color: white;
}

header {
    background-color: #02B9AB;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 8;
    grid-row: 1;
}

aside {
    background-color: #6BD46B;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2; 
    grid-row: 2;
}

article {
    background-color: #F3AA4A;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    grid-column: span 6; 
    grid-row: 2;
}

footer {
    background-color: #02B9AB;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 8; /* Spans all 8 columns */
    grid-row: 3;
}

.images {
    display:flex;
    gap: 10px;
    justify-content: space-evenly;
}

.images div {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: #F4CB48;
}

