body {
    background-color: #BEE4F1;
}

.container {
    display: grid;
    height: 600px;
    width: 800px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 50px auto 50px;
    grid-template-areas: " head head head head head head head head"
    "side side art art art art art art"
    " foot foot foot foot foot foot foot foot";
    gap: 20px;
    color: white;
}

header {
    grid-area: head;
    background-color: #02B9AB;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    grid-area: side;
    background-color: #6BD46B;
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    grid-area: art;
    background-color: #F3AA4A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

}

footer {
    grid-area: foot;
    background-color: #02B9AB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    display:flex;
    gap: 10px;
    justify-content: space-between;
}

.images div {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: #F4CB48;
}

